<div class="container about-page">

  <!-- Our Name --START-- -->
<h1>I. Our Name</h1>
<hr>
<h2>LACAG - Law Abiding Citizens Alliance Group (LACAG) Inc.</h2>
<ul>
  <li>
    <p>It is a Non-Government Organization (NGO), duly registered in the Securities and Exchange Commission (SEC).</p>
    </li>

    <li>
    <p>It is a para-police and para-military function, a multi-tasking NGO and anti-crime allegiance to meet the needs of our nation. </p>
    </li>

    <li>
    <p>A group of Law Bodied Citizen, unitied and bundled together to promote the welfare of our nation.</p>

    </li>
</ul>
  <!-- Our Name --END-- -->

  <!-- Our Purpose --START-- -->
<h1>II. Our Purpose</h1>
<hr>
<ul>
  <li>
    <p>To uphold the interest of the law of the land.</p>
  </li>
  <li>
    <p>To be a role model to our community, family and to our nation.</p>
  </li>
  <li>
    <p>It is design of harmonious brotherhood, concerning its member not only in time of troubles but also in time of perils.</p>
  </li>
  <li>
    <p>To act as force multiplier for all Law Enforcement exercises to preserve peace and order.</p>
  </li>
  <li>
    <p>It is a group that will put God as the priority “God First”, not only to obey the Law of the Land but also for the sake of saving a soul from destruction.</p>
  </li>
  <li>
    <p>A group with selfless love and service to the people.</p>
  </li>
</ul>
  <!-- Our Purpose --END-- -->

  <!-- Legalities and Our Affiliations --START-- -->
<h1>III. Legalities and Our Affiliations</h1>
<hr>
<ul>
  <li>
    <p>Duly registered in the government Securities and Exchange Commission (SEC).</p>
  </li>
  <li>
    <p>Accredited or properly recognized at Local Government Unit (LGU) as special bodies, Civil Society Organization (CSO).</p>
  </li>
  <li>
    <p>Accredited by the Philippine National Police (PNP), Police Community Relation Group (PCRG) * PNP-PCRG Camp Crame.</p>
  </li>
  <li>
    <p>Properly recognized  by Philippine Consulate Jeddah Saudi Arabia (KSA).</p>
  </li>
  <li>
    <p>Properly coordinated to the Local Police, Provincials, and Regional.</p>
  </li>
  <li>
    <p>Member of Federation of the Philippine Accredited NGOs. FPAN Camp Crame.</p>
  </li>
  <li>
    <p>A close partner and affiliated to Values Formation Spiritual Transformation Council (VFSTCPII). </p>
  </li>
  <li>
    <p>A volunteer social workers of Department of Social Welfares Development (DSWD) local.</p>
  </li>
  <li>
    <p>A member of First Elite Division (FED) shooting team under the command of VFSTCI.</p>
  </li>
  <li>
    <p>Close partner of Christian, Muslims, and Jewish Brotherhood worldwide. </p>
  </li>
</ul>

  <!-- Legalities and Our Affiliations --END-- -->

  <!-- Our Story --START-- -->
<h1>IV. Our Story</h1>
<hr>
<ul>
  <li style="list-style: none">
    <p>
      LACAG was founded by DIR. Ricky M. Montehermoso on August 06, 2017.
    </p> 
    <p>
      It was a dream and desire of a humble citizen, to help our community as well as our nation. In able to do so, he started to join other organization until such time the Lord blesses his sacrifice and volunteerism. He met people that will assist him to fulfill his dream. 
    </p> 
    <p>
      A dedicated person like Founder Ricky is now fully pledge to do his best to serve our country in the fear of the Almighty God. 
    </p> 
    <p>
      His involvement in values formation helps him to be a Provincial Director of Values Formation Spiritual Transformation Council Philippines International Inc. (VFSTCPII) Zambales Command. He has given a privileged to be honorary member of Association of Chief of Police of the Philippines (PNP-ACPPI), involve in a media / press correspondent MANIBELA NG MASA. A Director of National Disaster Response Network (NDRN) Zambales Command.  
    </p>
    <blockquote class="blockquote text-center">
      <p class="mb-0">
        “A dream may always be a dream only, if you stay and keep only on dreaming”
        <footer class="blockquote-footer"><cite>
          Ptr. A. Sanchez
        </cite></footer>
      </p>
    </blockquote>
  </li>
</ul>

  <!-- Our Story --END-- -->

  <!-- Our Divisions --START-- -->
<h1>V. Our Divisions</h1>
<hr>
<ul>
  <li>
    <p>Elite Citizen Force Intelligence Division (ECF-IG)</p>
  </li>
  <li>
    <p>Task Force LACAG</p>
  </li>
  <li>
    <p>Anti-violence against Women and Children</p>
  </li>
  <li>
    <p>Special Operation Command (SOC)</p>
  </li>
  <li>
    <p>Jr. LACAG</p>
  </li>
</ul>
  <!-- Our Divisions --END-- -->
</div>
