<h1>Thank you in advance for your donations.</h1>
<h5>Please call us at +63 909 615-3296 / +63 977 108-1625 or send us an e-mail @ <span><%= mail_to 'lacagspecialagent@gmail.com' %> and we will attend to you as soon as we are able.</span></h5>