<div class="seminar-page"> <!-- SEMINAR PAGE --START-- -->

<div class="row row-eq-height justify-content-between mb-5">

<div class="col-sm-6">
  <div class="col-sm-12">
    <div class="container">
    <h1>Seminars and Trainings</h1>
    <div>
      <nav class="button btn btn-outline-primary">Seminars and Trainings Registration</nav>
    </div>
    <hr>

    <ul>
      <li>
        <p>Rescue and First Aid</p>
      </li>
      <li>
        <p>Basic Life Support</p>
      </li>
      <li>
        <p>Disaster Preparedness Orientation Course</p>
      </li>
      <li>
        <p>Proper Lifting of Spine Board</p>
      </li>
      <li>
        <p>Manual Carry</p>
      </li>
      <li>
        <p>Reporting and Monitoring</p>
      </li>
      <li>
        <p>Arresting Techniques</p>
      </li>
      <li>
        <p>Self-defence</p>
      </li>
      <li>
        <p>Basic Criminal Law</p>
      </li>
      <li>
        <p>Human Rights</p>
      </li>
      <li>
        <p>Bill of Rights</p>
      </li>
      <li>
        <p>Citizens Arrest Act</p>
      </li>
      <li>
        <p>Disarming Technique</p>
      </li>
      <li>
        <p>Information Gathering</p>
      </li>
      <li>
        <p>Values Education and Formation</p>
      </li>
      <li>
        <p>Spiritual Enhancements Program</p>
      </li>
    </ul>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="col-sm-12">
    <h1>Outreach Programs</h1>
    <div>
      <nav class="button btn btn-outline-primary">Volunteer</nav>
    <hr>
    <ul>
      <li>
        <p>Mass Feeding Program</p>
      </li>
      <li>
        <p>Relief Operations</p>
      </li>
      <li>
        <p>Radio Communications</p>
      </li>
      <li>
        <p>Blood Donation</p>
      </li>
      <li>
        <p>Spiritual Enhancement</p>
      </li>
      <li>
        <p>Drug Prevention Seminar</p>
      </li>
      <li>
        <p>Clean-up Drive</p>
      </li>
      <li>
        <p>Medical Mission</p>
      </li>
      <li>
        <p>Spiritual Mission</p>
      </li>
    </ul>
   </div>
  </div>
</div>

</div>

<div class="container">
  <h1>Membership Qualifications</h1>
  <div>
      <nav class="button btn btn-outline-primary">Member Registration</nav>
  </div>
  <hr>
  <ul>
    <li>
      <p>Law abiding citizen.</p>
    </li>
    <li>
      <p>No racial limitation, any nationality can join.</p>
    </li>
    <li>
      <p>No deregatory records.</p>
    </li>
    <li>
      <p>No criminal case.</p>
    </li>
    <li>
      <p>Legal age.</p>
    </li>
    <li>
      <p>Willing to volunteer and enjoy voluntarism.</p>
    </li>
    <li>
      <p>God-fearing.</p>
    </li>
    <li>
      <p>Willing to make adjustments on his/her schedulue.</p>
    </li>
    <li>
      <p>Time management.</p>
    </li>
    <li>
      <p>Willing to undergo Basic Trainings.</p>
    </li>
    <li>
      <p>Willing to contribute financially (monthly dues) and other available resources.</p>
    </li>

    <div>
      <p class="font-weight-bold">Note:</p>
      <p>Aspirants must prepare a 2x2 picture and a duly filled-in LACAG Application Form.</p>
      <p>Pay the membership fee.</p>
      <p>Aspirants must pass the screening committee and will undergo cross examination and background checks before approval.</p>
    </div>

  </ul>
</div>

</div> <!-- SEMINAR PAGE --END-- -->