<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading"><h1>Donations</h1>
      <div class="panel-body">
        <% @donations.each do |donation| %>
        <p><%= donation.item_name %></p>
        <br>
        <% if donation.item_photo.attached?%>
        <p><%= image_tag donation.item_photo.variant(resize: '100x100!') %></p>
        <% else %>
        <p>No Photo Attached</p>
        <% end %>
        <br>
        <p><%= donation.item_description %></p>
      </div>
      <% end %>
      <%= link_to 'New Donation Item', new_donation_path %>
    </div>
  </div>
</div>