<% if current_user %>

  <h1>Unauthorized Access</h1>
  <p>Admin privilege required.</p>
  

  <% else %>

  <h1>Unauthorized Access</h1>
  <p>Please <%= link_to 'log in', login_path %> to view this page.</p>
<% end %>