<hr>
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><%= link_to 'ampcodes', donations_path %> site design © 2018 | <%= link_to 'Employee/Admin Login', donations_path %>
  </div>
</footer>