<hr>
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <% if current_user %>
    <div class="footer-copyright text-center py-3">Logged in as: <span class="font-weight-bold"> <%= current_user.username %> </span> | © 2018 Law Abiding Citizen Alliance Group. All Rights Reserved. 
    <p> 
      web app & design by: <%= link_to 'ampcodes', donations_path %>
    </p> 
    </div>
  <% else %>
  <div class="footer-copyright text-center py-3"> <%= link_to 'Employee & Admin Login', login_path %> | © 2018 Law Abiding Citizen Alliance Group. All Rights Reserved.
    <p> 
      web app & design by: <%= link_to 'ampcodes', "https://amichaelpalma.github.io/", target: '_blank', rel: 'nofollow' %>
    </p> 
    <% end %>
  </div> 
</footer>