<hr>
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> <%= link_to 'Employee & Admin Login', donations_path %> | © 2018 Law Abiding Citizen Alliance Group. All Rights Reserved. 
    <p> 
      web app & design by: <%= link_to 'ampcodes', donations_path %>
    </p> 
  </div> 
</footer>