<div class="container header-container">

<div class="header">
  <%= image_tag "LACAG Logo.png", alt: "LACAG Logo", id: "logo", class: 'float-left'%>
  <h1 class="float-left">LAW ABIDING CITIZENS ALLIANCE GROUP <span>(LACAG)</span> INC.</h1>
</div>

</div>