<div>

<% flash.each do |name, msg| %>
  <ul style="display: inline-block; padding-left: 0; width: 100%" class="text-center">
    <li style="list-style: none;" class="alert alert-primary"><%= msg %></li>
  </ul>
<% end %>

</div>